<main class="main">
  <section class="blog">
    <div class="blog__content container">
      <div class="blog__texts center">
        <span class="blog__guide guide">Consejos útiles</span>
        <h2 class="blog__title title">
          <span class="one">Nuestro</span>
          <span class="three">Blog</span>
        </h2>
        <p class="blog__paragraph paragraph">En esta sección, ofrecemos recomendaciones y estrategias clave para ayudarte en cada etapa de tu tesis.</p>
      </div>
      <div class="blog__select-category">
        <label class="blog__label" for="categoria">Elige una Categoría:</label>
        <div class="select">
          <select class="blog__select" id="categoria">
            <option class="blog__option" value="todos" selected>Todos</option>
          </select>
        </div>
      </div>
      <div class="blog__articles">
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
        <article class="article">
          <figure class="article__figure"></figure>
          <p class="article__category">Categoría</p>
          <div class="article__texts">
            <strong class="article__title">Título del Post</strong>
            <p class="article__paragraph paragraph">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a class="article__cta" href="#">Ver más</a>
          </div>
        </article>
      </div>
      <nav class="blog__navigation">
        <span class="blog__navigation-title">Página</span>
        <button class="blog__page blog__page--one">1</button>
        <button class="blog__page blog__page--one">2</button>
        <button class="blog__page blog__page--one">3</button>
      </nav>
    </div>
  </section>
</main>