<main class="main">
  <section class="opinions">
    <div class="opinions__content container">
      <div class="opinions__texts center">
        <span class="opinions__guide guide">Testimonios</span>
        <h2 class="opinions__title title">
          <span class="one">Nuestros</span>
          <span class="three">Clientes</span>
        </h2>
        <p class="opinions__paragraph paragraph">Sus testimonios reflejan la satisfacción y éxito alcanzados gracias a nuestro compromiso y dedicación en cada proyecto.</p>
      </div>
      <div class="opinions__group">
        <div class="opinions__slider">
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-uno.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-dos.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-tres.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-cuatro.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
        </div>
        <button class="opinions__btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>
        </button>
        <button class="opinions__btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>
        </button>
      </div>
      <div class="opinions__group">
        <div class="opinions__slider">
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-uno.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-dos.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-tres.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
          <figure class="opinions__figure">
            <img class="opinions__img" src="./assets/img/opinion-cuatro.webp" loading="lazy" alt="Captura de pantalla de whatsapp sobre un cliente agradeciendo nuestros servicios que ofrecemos">
          </figure>
        </div>
        <button class="opinions__btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>
        </button>
        <button class="opinions__btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>
        </button>
      </div>
    </div>
  </section>
</main>