/* SECTION OPINIONS */
.opinions { background-color: var(--color-four); }

.opinions__content { padding-block: var(--padding-size); }

.opinions__guide { margin-bottom: 1.5rem; }

.opinions__title { margin-bottom: 1.5rem; }

.opinions__paragraph { margin-bottom: 2rem; }

.opinions__group { position: relative; }

.opinions__slider {
  display: flex;
  overflow-x: scroll;
}

.opinions__figure {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 200 / 353;
}

.opinions__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: var(--color-four);
  background-color: #484848;
  border-radius: 50%;
  border: none;
  border: 2px solid #484848;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  transition: background-color .3s;

  svg {
    width: 20px;
    height: 20px;
  }

  &:nth-of-type(1) {
    left: 0;

    svg {
      transform: rotate(180deg);
    }
  }

  &:nth-of-type(2) {
    right: 0;
  }

  &:hover,
  &:focus {
    color: #484848;
    background-color: var(--color-four);
  }
}