<!-- PRELOAD A PONER PARA ESTA PAGINA -->
<link rel="preload" href="./assets/img/hero.webp" as="image" type="image/webp">

<header class="hero hero--home"> <!-- SEGUNDA CLASE -->
  <!-- INMPORTAR NAV DATA -->
  <!-- INMPORTAR NAVBAR --> 
  <section class="hero__main container">
    <div class="hero__content">
      <div class="hero__texts">
        <p class="hero__info">Aprobación Garantizada</p>
        <h1 class="hero__title hero__title--home title">
          <span class="one">Redacción y Asesoría de Tesis</span> 
          <span class="two">para Pregado y Postgrado</span>  
        </h1>
      </div>
      <div class="form form--transparent">
        <p class="form__title">Agenda una asesoría</p>
        <p class="form__paragraph paragraph">Completa el formulario de contacto para comunicarte con nosotros</p>
        <form class="form__form" action="" method="post">
          <input class="form__input" type="text" placeholder="Nombres">
          <select class="form__input form__input--select">
            <option value="" selected disabled>Seleccione una carrera</option>
            <option value="ciencias-sociales">Ciencias Sociales</option>
            <option value="ciencias-de-la-salud">Ciencias de la Salud</option>
            <option value="ciencias-empresariales">Ciencias Empresariales</option>
            <option value="ingenierias-y-arquitectura">Ingenierías y Arquitectura</option>
            <option value="ciencias-biologicas-y-agronomas">Ciencias Biológicas y Agrónomas</option>
            <option value="ciencias-basicas">Ciencias Básicas</option>
            <option value="carreras-tecnicas">Carreras Técnicas</option>
            <option value="otros">Otros</option>
          </select>
          <input class="form__input" type="tel" placeholder="Celular">
          <select class="form__input form__input--select">
            <option value="" selected disabled>Seleccione un servicio</option>
            <option value="redaccion-tesis-pregrado">Redacción de Tesis de Pregrado</option>
            <option value="redaccion-tesis-postgrado">Redacción de Tesis de Postgrado</option>
            <option value="levantamiento-observaciones">Levantamiento de Observaciones</option>
            <option value="parafraseo">Parafraseo</option>
          </select>
          <textarea class="form__input form__input--textarea" placeholder="Escribe tu mensaje aquí"></textarea>
          <input class="form__input form__input--submit" type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </section>
</header>