<main>
  <section class="pay">
    <div class="pay__texts container center">
      <span class="pay__guide guide">Medio de pago</span>
      <h2 class="pay__title title">
        <span class="one">Pago</span>
        <span class="three">Seguro</span>
      </h2>
      <p class="pay__paragraph paragraph">Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.</p>
    </div>
    <script async src="https://js.stripe.com/v3/buy-button.js">
    </script>
    <div class="container stripe__form">
      <stripe-buy-button buy-button-id="buy_btn_1PWLo7Dys5wfRcSpzgSxbwVY"
        publishable-key="pk_test_51PWL6NDys5wfRcSp0UJvPOXYHoNWQ187vxLGfTihEKoFDhfflj8DBM4QLlJ9dEW8CsX4hmgiHznViIHQtyhGQFuC00KGCZeWTB">
      </stripe-buy-button>
    </div>
  </section>
</main>