/* PAGE ABOUT US */
.paragraphs {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

/* SECTION WHAT IS */
.what-is { background-color: var(--color-four); }

.what-is__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: var(--padding-size);
}

.what-is__principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.what-is__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.what-is__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.what-is__card {
  flex-basis: 300px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 4px #00000040;
}

.what-is__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-one);
  border-radius: 50%;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.what-is__icon--dark {
  color: var(--color-four);
  background-color: var(--color-five);
}

.what-is__name {
  font-weight: 600;
  color: var(--color-five);
}

.what-is__info { font-size: .9rem; }

.what-is__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.what-is__figure {
  border: 8px solid var(--color-four);
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 1 / 1;

  &:nth-child(2) {
    width: 90%;
    margin-top: -5rem;
    margin-inline: auto;
    aspect-ratio: 1080 / 721;
  }
}

/* SECTION ABOUT COMPANY */
.about-company { background-color: var(--color-four); }

.about-company__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: var(--padding-size);
}

.about-company__figure {
  order: 1;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 3 / 2;
}

.about-company__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-company__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.about-company__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-one);
  border: 2px solid var(--color-one);
  border-radius: 50%;
  transition: box-shadow .3s, transform .3s;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 4px 4px #00000040;
  }
}

/* SECTION MISSION */
.mission { background-color: var(--color-four); }

.mission__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: var(--padding-size);
}

.mission__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mission__figure {
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 3 / 2;
}

/* SECTION VISION */
.vision { background-color: var(--color-four); }

.vision__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: var(--padding-size);
}

.vision__figure {
  order: 1;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 1080 / 719;
}

.vision__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* SECTION VALUES */
.values { background-color: var(--color-six); }

.values__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: var(--padding-size);
}

.values__title { text-align: center; }

.values__group {
  display: grid;
  gap: 2rem;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  margin-inline: auto;
  color: var(--color-eight);
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px #00000040;
}

.value__number {
  font-size: 5rem;
  font-weight: 700;
  color: inherit;
  line-height: 1;
}

.value__name {
  font-size: 1.1rem;
  font-weight: 600;
  color: inherit;
}

@media (width >= 768px) {
  /* PAGE ABOUT US */
  /* SECTION WHAT IS */
  .what-is__principal { gap: 3rem; }

  .what-is__cards { gap: 3rem; }

  .what-is__group {
    flex-direction: row;
    align-items: center;
    max-width: unset;
  }

  .what-is__figure {
    max-width: 400px;

    &:nth-child(2) {
      margin-top: 0;
      margin-left: -5rem;
    }
  }

  /* SECTION ABOUT COMPANY */
  .about-company__figure {
    border-radius: 1.5rem;
  }

  /* SECTION MISSION */
  .mission__figure { border-radius: 1.5rem; }

  .mission__img

  /* SECTION VISION */
  .vision__figure { border-radius: 1.5rem; }

  /* SECTION VALUES */
  .values__group {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .value {
    margin-inline: 0;

    &:nth-child(odd) {
      margin-left: auto;
    }
  }
}

@media (width >= 1024px) {
  /* PAGE ABOUT US */
  /* SECTION WHAT IS */
  .what-is__content { gap: 4rem; }

  .what-is__principal {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    width: 1005;
  }

  .what-is__texts { width: 600px; }

  .what-is__cards {
    flex-direction: column;
    gap: 1.5rem;
  }

  .what-is__card {
    flex-basis: 0;
    max-width: 350px;

    &:nth-child(1),
    &:nth-child(3) {
      margin-left: 3.5rem;
    }
  }

  /* SECTION ABOUT COMPANY */
  .about-company__content {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4rem;
  }

  .about-company__texts { max-width: 600px; }

  .about-company__figure {
    flex-shrink: 0;
    order: 0;
    aspect-ratio: 1 / 1;
  }

  .about-company__img {
    height: 100%;
    object-fit: cover;
  }

  /* SECTION MISSION */
  .mission__content {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4rem;
  }

  .mission__texts { max-width: 600px; }

  .mission__figure {
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
  }

  .mission__img {
    height: 100%;
    object-fit: cover;
  }

  /* SECTION VISION */
  .vision__content {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4rem;
  }

  .vision__texts { max-width: 600px; }

  .vision__figure {
    flex-shrink: 0;
    order: 0;
    aspect-ratio: 1 / 1;
  }

  .vision__img {
    height: 100%;
    object-fit: cover;
  }

  /* SECTION VALUES */
  .values__group { 
    grid-template-columns: repeat(3, 1fr); 
    width: max-content;
    margin-inline: auto;
  }

  .value { width: calc(300px - 3rem); }
}