<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="¿Necesitas ayuda con tu tesis? Ofrecemos redacción y asesoría para pregrado y postgrado. ¡Garantiza tu éxito académico con nosotros!">
  <meta name="keywords" content="tesis, pregrado, postgrado, redacción de tesis, asesoría, éxito académico, redacción académica"/>
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <title>Tesis VIP - Redacción y Asesoría de Tesis</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Este preload cambia dependiendo de la pagina actual, mirar carpeta header -->
  <!-- <link rel="preload" href="./assets/img/hero.webp" as="image" type="image/webp"> -->
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
</body>
</html>